.Formulario {
    font-family: monospace; 
    font-size: 18px;
}

.Formulario button{
    font-size: 35px;
    padding: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    background-color: #008080;
    border-radius: 6px;
    border: 2px solid #008080;
    margin-right: 1%;
    font-family: monospace; 
}

.Formulario button:hover{
    color: #008080;
    border: 2px solid #008080;
    background-color: #ffffff;
}

.Formulario button:focus{
    color: #008080;
    border: 2px solid #008080;
    background-color: #ffffff;
}
